<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/header.html :: style">
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Admin | Student Dating</title>
</head>
<body>

<div
        th:replace="${session.user.role == 'administrator'} ?
                    ~{fragments/header.html :: adminNav('Admin', '/admin')} :
                    ~{fragments/header.html :: noAdminNav('Admin', '/admin')}">
</div>
    <main>
        <div id="welcome" class="success" th:if="${welcome != null}">
            <p th:text="Welcome ${user}"></p> <!-- todo translation with parameter user -->
        </div>

    <div th:if="${notAuthorized != null}">
        <div class="alert alert-danger" role="alert" style="width:31%;margin-left:18%;">
            <p th:text="${notAuthorized}"></p>
        </div>
    </div>

    <div th:if="${notAuthorized == null}">
        <h1 th:text="#{WelcomAdm}"></h1>
        <h2>Todo frame google analytics</h2><!-- todo -->

        <h3 th:text="#{Students}"></h3>
        <div th:if="${users != null}">
            <table id="adminTable">
                <tr>
                    <th th:text="#{firstName}"></th>
                    <th th:text="#{lastName}"></th>
                    <th th:text="#{Sex}"></th>
                    <th th:text="#{Age}"></th>
                    <th>Email</th>
                    <th th:text="Location"></th>
                </tr>
                <tr th:each="user: ${users}">
                    <td th:text="${user.firstName}"></td>
                    <td th:text="${user.lastName}"></td>
                    <td th:text="${user.sex}"></td>
                    <td th:text="${user.getAge()}"></td>
                    <td th:text="${user.username}"></td>
                    <td th:text="${user.location}"></td>
                </tr>
            </table>
        </div>
    </div>
    </main>
    <div th:insert="fragments/footer.html :: footer"></div>
</body>
</html>
