<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:insert="fragments/header.html :: style">
    <meta charset="UTF-8">
    <title>Profile | Student Dating</title>
</head>
<body>
<header
        th:replace="${session.user.role == 'administrator'} ?
                    ~{fragments/header.html :: adminNav('Pro', '/showProfile&id=' + ${user.id})} :
                    ~{fragments/header.html :: noAdminNav('Pro', '/showProfile&id=' + ${user.id})}">
</header>

<main>
    <div class="wrapper"><!-- todo remove class wrapper, one -->
        <div class="one">
            <h4 th:text="#{lastName} + ': ' + ${user.firstName} + ' ' + ${user.lastName} + ' (' + ${user.getAge()} + ${user.sex} + ')'"></h4>
            <h4 th:text="#{Location} + ': ' + ${user.location}"></h4>
            <!--todo in db: discord, snap, insta value, en op eigen profiel: vul in snap, discord, insta -->
        </div>
    </div>
</main>
<div th:insert="fragments/footer.html :: footer"></div>
</body>
</html>
